body {
  padding: 0;
  margin: 0;
}

.page {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.page.active {
  display: block;
  opacity: 1;
  margin: 0;
  padding: 20px 40px;
}

.admin-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.admin-page .header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.admin-page table {
  width: 100%;
  margin: 0;
}

.admin-page .card {
  display: none;
  margin-top: 20px;
}

#departments-admin,
#accounts-admin {
  padding-top: 20px;
}

body.not-authenticated .role-logged-in {
  display: none;
}
body.authenticated .role-logged-out {
  display: none;
}
.role-admin {
  display: none;
}
body.is-admin .role-admin {
  display: block;
}

.navbar {
  background-color: black !important;
}

.navbar-brand {
  color: white !important;
  margin-left: 15px;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: skyblue !important;
}

.navbar-nav {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start;
}

.navbar-nav .nav-item {
  margin-bottom: 5px;
  margin-right: 15px;
}

.below-navbar {
  margin: 40px;
}

.below-details {
  margin-top: 15px;
  line-height: 1.6;
}

.register-page,
.login-page {
  max-width: 400px;
  margin: 40px 15px 0 15px;
}

.login-button {
  margin-top: 20px;
  gap: 10px;
}

.profile-box {
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-right: 40px;
}

.profile-page {
  margin: 40px;
}

.employee-page,
.department-page,
.account-page {
  display: block;
  margin: 20px 40px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.table {
  width: 100%;
  margin-top: 0 !important;
  border-collapse: collapse;
}

.employee-page .card,
.department-page .card,
.account-page .card {
  margin-top: 15px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  margin-right: 15px;
}

.buttons a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.buttons a:hover {
  text-decoration: underline;
}
