body {
    padding: 0;
    margin: 0;
}

.page { display: none; }

.page.active { display: block; }

body.not-authenticated .role-logged-in { display: none; }

body.authenticated .role-logged-out { display: none; }

.role-admin { display: none; }

body.is-admin .role-admin { display: block; }


.navbar {
    background-color: black !important;
}

.navbar-brand{
    color:  white !important;
    margin-left: 15px;
}

.nav-link {
    color: white !important;
}

.navbar-nav {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start;
}

.navbar-nav .nav-item {
    margin-bottom: 5px;
    margin-right: 15px;
}

.nav-link:hover {
    color: skyblue !important;
}

.register-page {
    max-width: 400px;   
    margin-left: 15px;  
    margin-top: 40px;    
}

.page.active {
    display: block;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;  
    margin-right: 15px;
}

.buttons a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.buttons a:hover {
    text-decoration: underline;
}

.below-navbar {
    margin: 40px;
}

.below-details {
    margin-top: 15px;
    line-height: 1.6;
}

.page {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.page.active {
    display: block;
    opacity: 1;
}

.login-page {
    max-width: 400px;   
    margin-left: 15px;  
    margin-top: 40px;    
}

.login-button {
    margin-top: 20px;
    gap: 10px;
}

.profile-box {
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 40px;
}

.profile-page {
    margin-left: 40px;
}

.employee-page {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    margin: 40px;
}

.header-row {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.department-page {
    margin: 40px;
}

.account-page {
    margin: 40px;
}