body {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: black !important;
}

.navbar-brand{
    color:  white !important;
    margin-left: 15px;
}

.nav-link {
    color: white !important;
}

.navbar-nav {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start;
}

.navbar-nav .nav-item {
    margin-bottom: 5px;
    margin-right: 15px;
}

.nav-link:hover {
    color: skyblue !important;
}

.register-page {
    max-width: 400px;   
    margin-left: 15px;  
    margin-top: 40px;    
}

.page {
    display: none;
}

.page.active {
    display: block;
}



.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;  
    margin-right: 15px;
}

.buttons a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.buttons a:hover {
    text-decoration: underline;
}

.below-navbar {
    margin: 40px;
}

.below-details {
    margin-top: 15px;
    line-height: 1.6;
}